#version=RHEL10

text
eula --agreed
firstboot --disable
reboot

lang en_US.UTF-8
keyboard us
timezone Etc/UTC --utc

network --bootproto=static --device=eth0 --activate \
  --ip=118.91.187.142 --netmask=255.255.255.192 \
  --gateway=118.91.187.129 \
  --nameserver=1.1.1.1 --nameserver=1.0.0.1 \
  --hostname=ifog-ams-pop-1

rootpw --iscrypted $6$W3nUKA50Hs5o.N0R$jTLTDqGxDljxy7tW6oqgOiP6f/HJcadxN8yiFXoBRb4rjg4I9PSWE7t3NMNWb.Ck8K3YyAFTzeVqx5YMfatgD/

sshkey --username=root "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHJfWjs4Jnf7NYyDd+t19CdthBl3A4jia/EluQzdJc6"

url --url="https://repo.almalinux.org/almalinux/10/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl="https://repo.almalinux.org/almalinux/10/AppStream/x86_64/os/"

zerombr
clearpart --all --initlabel --drives=sda
autopart --type=plain --nohome

bootloader --boot-drive=sda \
  --append="net.ifnames=0 biosdevname=0 console=tty0 console=ttyS0,115200n8"

selinux --enforcing
firewall --enabled --ssh

services --enabled=sshd,chronyd,firewalld,qemu-guest-agent

%addon com_redhat_kdump --disable
%end

%packages
@^minimal-environment
qemu-guest-agent
vim-enhanced
bind-utils
tar
%end

%post --erroronfail --log=/root/ks-post.log
install -d -m 0755 /etc/ssh/sshd_config.d
printf 'PermitRootLogin\n' \
  > /etc/ssh/sshd_config.d/10-root-key.conf
%end
